.body{
    background-image: url("../../../assets/img/fondo.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    
}

.login {
    width: 50%;
    height: 57%;
    max-width: 330px;
    text-align: center;
    border-style: solid;
    border-color: #3f51b5;
    border: #3f51b5 4px inset;
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 1.5rem;
    min-height: 700px;
    box-shadow: 0rem 0rem 2rem #3f51b5;
}

button {
    width: 61%;
}

img {
    border-style:outset;
    border-radius: 2.5rem;
    border-color: #ffffff;
    background-color: rgba(149, 88, 246, 0.435);
    border-color: #7398c3;
    border: #3f51b5 4px inset;
    margin-top: 20%;
    padding: 1rem;
}


.spinner {
    margin-left: 42%;
}

.spin {
    margin-top: 65%;
}

.registrarse {
    margin-top: 3%;
}